/* RESET */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
  }
                                /* Inserimento dei font */  
@font-face {
        font-family:"brutgrotesque";
        src: url(brutgrotesque/BrutGrotesque-Medium.otf);
        font-weight: medium;
} 
@font-face {
        font-family:"brutgrotesque" ;
        src: url(brutgrotesque/BrutGrotesque-BoldItalic.otf);
        font-weight: bold italic;
}
@font-face {
        font-family:"brutgrotesque" ;
        src: url(brutgrotesque/BrutGrotesque-Bold.otf);
        font-weight: bold;
}

.bla{
        background-color: black;
        color: white;
        height: 650px;
}

h2,h3,p{
        padding-left: 15px;
}
        
h2{
        font-family: "brutgrotesque";
        font-weight: bold;
        font-size: 200px;
        text-align: end;
} 
.des{
        font-family: "brutgrotesque";
        font-weight: bold italic;
        
}
h3{
        font-size: 14px;
        font-family: "brutgrotesque";
        font-weight: bold;

}
p{
        font-size: 18px;
        font-family: "brutgrotesque";
        font-weight: medium;
        line-height: 20px;      
}

.rif{
        font-family: "brutgrotesque";
        font-weight: bold;
        font-size: 14px;
}
                                /* Fine inscerimento font*/


img{
        display: block;
        width: 20%;
        height: auto;
        border: 0.5px solid black;
}
.img_2{
        width: 60%;
        display: block;
        height: auto
}


.carousel{
        background-color: #ffff;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;  
}

.carousel-wrapper{
        width: 500px;
        height: 500px;
        display: block;
        position: relative;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

.carousel-item{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        padding: 25px 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0, 6s ease-in-out;
}

.arrow{
        border: solid black;
        padding: 10px;
        border-width: 0 3px 3px 0;
        display: inline-block;

}

.arrow-prev{
        left: -5rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(135deg);
}

.arrow-next{
        position: absolute;
        right: -5rem;
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
}

.item-1{
        position: absolute;
        z-index: 6;
        opacity: 1;
        background-color: #fff;
}

.item-2{
        position: absolute;
        z-index: 5;
        opacity: 1;
        background: #fff;
}

.item-3{
        position: absolute;
        background: #fff;
}

.item-4{
        position: absolute;
        background: #fff;
}

.item-5{
        position: absolute;
        background: #fff;
}

#item-2:target~.item-2,
#item-3:target~.item-3,
#item-4:target~.item-4,
#item-5:target~.item-5
{
        z-index: 7;
        opacity: 1;
}