/* RESET */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

body{
        font-family: 'elephant', Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: black;
}

.wide{
        background-color: white;
        color:black;
}
header{
        padding: 30px 20px;
}
nav li{
        display: inline-block; /* display inline ma con gestione del margin verticale */
        margin-left: 20px;
        list-style:none; /* toglie pallino al elemento li*/
        text-transform: capitalize; 
    }
nav a{
        text-decoration: none;/* azzero stili di default*/
        color: black;
        font-size: 30px;
}
nav a:hover,
nav .active{
         color: gray;
}

#banner{
        width: 100%;
        background-color: #CFC0B7;
        background-position: center;
        height: 500px;
        background-size: cover;
        position: absolute;
        color: black;

}
#banner1{
        width: 100%;
        background: url(img/Screenshot_20230113_202847.png) no-repeat center center;
        background-color: #CFC0B7;
        background-position: center;
        height: 500px;
        background-size: cover;
        position: absolute;
}

main{
        margin-top: 30px;
}

main .colonna{
        padding: 20px;
        text-align: center;
}

main p{
        text-align: left;
        margin-top: 10px;
}

.flexgrid{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
}

.post1{
        position: relative;
        display: flex;
        align-items: flex-end;
}

.post1 img{
        transition: all 0.8s ease;
}

.post1 img:hover{
        transform: scale(1.1);
}

.post2{
        position: absolute;
        height: 100px;
        bottom: -50px;
        left: 0px;
        padding: 5px 10px;
        width: 100%;
        z-index: 2;
        transition: all 0.9s linear;
        justify-content: center;
}

.post2:hover{
        color: white;
        bottom: 0px;
}

.grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
}
.grid1{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);

}
.ban{
        background-color: #CFC0B7;

}

main p{
        text-align: left;
        margin-top: 10px;
    }

h3{
        padding: 20px;
       
}   
p{
        padding: 5px;
        color: black;
}
body{
        background-color: #CFC0B7;
        color: black;
}
article h2{
        margin-top: 10px;
        padding: 10px;
        display: flex;
        font-size: 20px;
        justify-content: center;
        text-align: center;
}
article h3{
        display: flex;
        font-size: 24px;
        justify-content: center;
        text-align: center;
}
article h4{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
}
article p{
        padding: 10px;
        margin-left: 20px;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
}
