/* RESET */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

body{
        font-family: 'elephant', Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: black;
}

.white{
        background-color: #fff;
        color: black;
}
header{
        padding: 30px  20px;
}
nav li{
        display: inline-block;
        margin-left: 84px;
        list-style: none;
        text-transform: capitalize;
}
nav a{
        text-decoration: none;
        color: black;
        font-size: 20px;
}
nav a:hover,
nav .active{
        color: black;

}
#banner{
        width: 100%;
        background-color: #CFC0B7;
        background-position: center;
        height: 400px;
        background-size: cover;
        position: absolute;

}
#banner1{
        width: 100%;
        background: url(img/Screenshot_20230113_202847.png) no-repeat center center;
        background-color: #CFC0B7;
        background-position: center;
        height: 400px;
        background-size: cover;
        position: absolute;
}
#banner2{
        width: 100%;
        background: url(img/Screenshot_20230116_220903.png) no-repeat center center;
        background-color: #CFC0B7;
        background-position: center;
        height: 400px;
        background-size: cover;
        position: absolute;

}
main{
        margin-top: 30px;
}

main .colonna{
        padding: 20px;
        text-align: center;
}

main p{
        text-align: left;
        margin-top: 10px;
}

.flexgrid{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
}

.post1{
        position: relative;
        display: flex;
        align-items: flex-end;
}

.post1 img{
        transition: all 0.8s ease;
}

.post1 img:hover{
        transform: scale(1.1);
}

.post2{
        position: absolute;
        height: 100px;
        bottom: -50px;
        left: 0px;
        padding: 5px 10px;
        width: 100%;
        z-index: 2;
        transition: all 0.9s linear;
        justify-content: center;
}

.post2:hover{
        color: white;
        bottom: 0px;
}